
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="~/Img/16388457_1007231506076751_311622105_o.jpg" alt="">
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="~/Img/16388457_1007231506076751_311622105_o.jpg" alt="">
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="~/Img/16388457_1007231506076751_311622105_o.jpg" alt="">
        </a>
    </div>

</div>

