@model ICollection<MeitalOfmanMVC.ContentDataModels.Post>
@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-8"></div>
        <div class="col-xs-4" style="margin:0px;">
            <div id="aboutMe" class="col-xs-5 aboutMeNotScrolled">
                <div>
                    <img class="fitImgToDiv" src="/Img/me.jpg" style="margin-bottom:15px;" />
                </div>
                <div>
                    <button class="moButton btn btn-default">קצת עליי</button>
                </div>
                <div class="fb-like"
                     data-href="https://www.facebook.com/Meital-Ofman-Make-up-Artist-470585333137261/"
                     data-layout="standard"
                     data-action="like"
                     data-show-faces="true"
                     data-share="true"
                     data-width="250">
                </div>
            </div>
        </div>
    </div>
    @foreach (var item in Model)
    {
        <div class="row">
            @*<div class="col-xs-3"></div>*@
            <div class="col-xs-8 col-md-5 col-md-offset-3">
                <h1 style="text-align: right;">@item.Headline</h1>
                @foreach (var img in item.PostImages)
                {
                    <img class="fitImgToDiv" src="@Url.Action("Show", "Image", new {id = img.Id})" alt="@img.ImageName"/>
                }
                <h5 style="text-align: right"> @item.SubText </h5>
            </div>
        </div>
    }

@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@